.listbox_shell{padding:10px 5px 10px 10px;border:1px solid #888;flex-grow: 1;border-radius:5px;background:#94CCC2;}
.newTodoBtn{padding:6px;font-size:16px;border-radius:5px;border:none;background:#e27d5f;color:#fff;font-weight:300;}
.lbsFloor1{overflow:auto;max-height:50vh;}
@media only screen and (max-width: 600px) {
  .lbsFloor1{overflow:auto;max-height:70vh;}
}