.navbar_shell{padding:10px 0;}
.nsRitDiv,.nsLftDiv{width:50%;}
.nsTitleListA,.nsTitleListB{font-size:18px;color:#fff;background:#e27d5f;padding:2px 10px;border-radius:5px;}
.nsListACountSpan,.nsListBCountSpan{font-size:14px;padding:2px 6px;background:#40b3a2;border-radius:5px;color:#fff;}