.header_shell{padding:15px;padding-bottom:50px;width:300px;height:500px;background:#7fc7ba;border-radius:5px;
  border:1px solid #40b3a2;}
.hsF1Lft,.hsF1Rit{width:50%;color:#fff;}
.hsF1Title{font-size:22px;}
.hsF1Date{font-size:16px;}
.hsF1TodoCountSpan{padding:2px 6px;background:#40b3a2;border-radius:5px;}
.hsF1SettingBox{font-size:22px;}
.hsF2Room2,.hsF2Room3{flex-grow: 1;}
.hsFloor3{padding-top:10px;}
@media only screen and (max-width: 600px) {
  .header_shell{width:100%;height:90vh;}
}